<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robô Digital | Atividade Ponderada</title>
</head>
<body>
    <h1>Coordenadas do robô</h1>

    {% if x is none or y is none or z is none or r is none %}
    <p>As coordenadas ainda não foram modificadas.</p>
    {% else %}

    <p>X: {{ x }}</p>
    <p>Y: {{ y }}</p>
    <p>Z: {{ z }}</p>
    <p>R: {{ r }}</p>
    <p>J1: {{ j1 }}</p>
    <p>J2: {{ j2 }}</p>
    <p>J3: {{ j3 }}</p>
    <p>J4: {{ j4 }}</p>

    {% endif %}

</body>
</html>