<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robô Digital | Atividade Ponderada</title>
</head>
<body>
    <div class="principal">
        <h1>Simulação de Robô Digital</h1>
        <div class="input_coordenadas">
            <form method="POST" action="/move">

                <label for="x">X:</label>
                <input type="number" id="x" name="x"><br><br>
                <label for="y">Y:</label>
                <input type="number" id="y" name="y"><br><br>
                <label for="z">Z:</label>
                <input type="number" id="z" name="z"><br><br>
            
                <input type="submit" value="Definir coordenadas">

            </form>
        </div>
        <div class="joystick" style="width:20%">
            <br>
            <form action="/joystick" method="POST">
                <button type="submit" name="direcao" value="up">Y +</button>
                <button type="submit" name="direcao" value="down">Y -</button>
                <button type="submit" name="direcao" value="right">X +</button>
                <button type="submit" name="direcao" value="left">X -</button>
                <button type="submit" name="direcao" value="front">Z +</button>
                <button type="submit" name="direcao" value="back">Z -</button>
                <button type="submit">Mover</button> 
            </form>
            <br>

            <!-- <form action="/joystick" method="POST">
                <svg width="100%" height="100%" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="50" fill="url(#grad1)" />
                    <circle cx="50" cy="50" r="47" fill="url(#grad2)" stroke="black" stroke-width="1.5px" />
                    <circle cx="50" cy="50" r="44" fill="url(#grad3)" />
                    <circle cx="50" cy="50" r="20" fill="#cccccc" stroke="black" stroke-width="1px" onclick="alert('CENTER');" />
                    <path d="M50,14 54,22 46,22Z" fill="rgba(0,0,0,0.8)" onclick="alert('UP');" />
                    <path d="M50,86 54,78 46,78Z" fill="rgba(0,0,0,0.8)" onclick="alert('DOWN');" />
                    <path d="M14,50 22,54 22,46Z" fill="rgba(0,0,0,0.8)" onclick="alert('LEFT');" />
                    <path d="M86,50 78,54 78,46Z" fill="rgba(0,0,0,0.8)" onclick="alert('RIGHT');" />
                </svg>
            </form> -->

            <!-- Referencia para joystick: https://stackoverflow.com/questions/34639583/how-can-i-create-responsive-joystick-layout-buttons-in-html/34644069#34644069?newreg=d1f0ec4b574b4f6abe4a1de9f80cd1cb -->

        <!-- <div class="input_coordenadas">
        <div class="posicao_atual">
            <div>

                {% if x is none or y is none or z is none %}
                <p>As coordenadas ainda não foram modificadas.</p>
                {% else %}
            
                <p>X: {{ x }}</p>
                <p>Y: {{ y }}</p>
                <p>Z: {{ z }}</p>
                <p>R: {{ r }}</p>
            
                {% endif %}

            </div>
        </div> -->
        </div>
        <div class="historico_coordenadas">
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Coordenada X</th>
                        <th>Coordenada Y</th>
                        <th>Coordenada Z</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coordenada in coordenadas %}
                    <tr>
                        <td>{{coordenada.x}}</td>
                        <td>{{coordenada.y}}</td>
                        <td>{{coordenada.z}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>